@model dynamic
@{
    ViewData["Title"] = "Profile Page";
}

<div class="text-center">
    <h1 class="display-4">Profile Page</h1>
    <p><a class="display-6" asp-area="" asp-controller="Spotify" asp-action="Auth">Spotify</a></p>
    <h1 class="display-6">Country: @Model.country</h1>
    <h1 class="display-6">Display Name: @Model.display_name</h1>
    <h1 class="display-6">Email: @Model.email</h1>
    <h1 class="display-6">Explicit Content:</h1>
    <h1 class="display-6">Filter Enabled: @Model.explicit_content.filter_enabled</h1>
    <h1 class="display-6">Filter Locked: @Model.explicit_content.filter_locked</h1>
    <h1 class="display-6">External Urls:</h1>
    <h1 class="display-6">Spotify: @Model.external_urls.spotify</h1>
    <h1 class="display-6">Followers:</h1>
    <h1 class="display-6">Href: @Model.followers.href</h1>
    <h1 class="display-6">Total: @Model.followers.total</h1>
</div>
