@model ProfileModel
@{
    ViewData["Title"] = "Profile Page";
}

<div class="text-center">
    <h1 class="display-4">Profile Page</h1>
    <p><a class="display-6" asp-area="" asp-controller="Spotify" asp-action="Index">Spotify</a></p>
    <h1 class="display-6">Country: @Model.Country</h1>
    <h1 class="display-6">Display Name: @Model.DisplayName</h1>
    <h1 class="display-6">Email: @Model.Email</h1>
    <h1 class="display-6">Explicit Content:</h1>
    <h1 class="display-6">Filter Enabled: @Model.ExplicitContent.FilterEnabled</h1>
    <h1 class="display-6">Filter Locked: @Model.ExplicitContent.FilterLocked</h1>
    <h1 class="display-6">External Urls:</h1>
    <h1 class="display-6">Spotify: @Model.ExternalUrls.Spotify</h1>
    <h1 class="display-6">Followers:</h1>
    <h1 class="display-6">Href: @Model.Followers.Href</h1>
    <h1 class="display-6">Total: @Model.Followers.Total</h1>
</div>
